a.out
.*.sw[op]
.sw[op]
*~
*-demo.c
*-demo.cl
*.o
print-devices
transpose
transpose-soln
hello-mpi
*-soln
mpi-hello
a
core
mpi-bandwidth
mpi-bi-bandwidth
mpi-latency
pipeline-perf-mystery
numa-test
threads-vs-cache
pipeline-perf
pipeline-perf-soln
pipeline-perf-soln-o3
fp-perf
alignment
lock-contention
perf.data*
opencl_profile*log
opencl*profile*conf
